<%- include('../partials/header') %>

<h1>Make a new ticket for flight #<%= flight.flightNo %>...</h1>

<form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label>Seat #:
        <input name="seat" required pattern="[A-F][1-9]\d?">
    </label><br>
    <label>Price:
        <input name="price">
    </label><br>
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>