<%- include('./partials/header') %>

<h1>Welcome to Express Flights!</h1>

<p>Ripley made this CRUD application to help keep track of various flights and their
    respective destinations and tickets.</p>
<p>Use the nav bar to take a look around!</p>

<%- include('./partials/footer') %>

