* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  width: 80vw;
}

nav {
  height: 8vh;
  width: 100vw;
  margin: 0 0 5vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 22px;
  background-color: #003366;
  box-shadow: 0vh 1vh 4vh #003366;
}

a {
  color: gold;
  text-decoration: none;
}

p {
  font-size: 18px;
  text-align: center;
}

nav > a {
  padding: 5px;
  border: 1px solid #003366;
  border-radius: 5%;
}

nav > a:hover {
  color: #003366;
  background-color: gold;
}

#all-flights > th, td {
  font-size: 16px;
  text-align: center;
  padding: 4px 12px;
}

#flight-details {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

#destns > h2, #tickets > h2 {
  text-align: center;
}

#add-dest {
  margin: 4vh 0 0 0;
}

#add-flight, #add-dest, #add-ticket, #tickets {
  display: flex;
  flex-direction: column;
}

#new-ticket {
  margin: 20px 0 0 0;
  text-align: center;
}

.delete {
  color: gold;
  border: 1px solid darkred;
  background-color: darkred;
}

.delete:hover {
  color: darkred;
  background-color: gold;
}

.button {
  color: gold;
  background-color: #003366;
  border: 1px solid #003366;
  border-radius: 5%;
  padding: 5px;
}

.button:hover {
  color: #003366;
  background-color: gold;
}

tr.passed {
  color: red;
}